#logo {
    font-family: 'Courier New', monospace;
    font-weight: normal;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:black;
}
#logo-picture {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
}